* {
    margin: 0;
    padding: 0;

}

:root {
    --yellow-color: #ffdf00;
    --light-yellow-color: rgba(255, 223, 0, 0.7);
    --white-color: #ffffff;
    --green-color: #001106;
    --light-green-color: #004c19;
}

body {
    background-color: var(--green-color);
    color: var(--yellow-color);
    font-family: "Roboto", serif;
}

/* NAVBAR CONTAINER*/

.nav__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: .8rem;
    padding: 1rem;
    margin-bottom: .3rem;
}

.right__navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4rem;
}

.logo__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    text-decoration: none;
    color: var(--yellow-color);
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: .2rem;
}

.youtube__icon {
    display: inline-block;
    width: 1.5rem;
    height: 1rem;
    background-color: var(--light-green-color);
    position: relative;
    border-radius: 0.25rem;
}

.youtube__icon::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    border-left: 0.5rem solid var(--yellow-color);
    border-top: 0.3125rem solid transparent;
    border-bottom: 0.3125rem solid transparent;
    transform: translate(-50%, -50%);
}

.search__container {
    display: flex;
}

.search {
    display: none;
}

.search__button {
    background-color: var(--green-color);
    border: 0;
    width: 1.2rem;
    height: 1.2rem;
}

.profile__container {
    display: flex;
    align-items: center;
    gap: .3rem;
}

.notifications__button {
    background-color: var(--green-color);
    border: 0;
    width: 1.2rem;
    height: 1.2rem;
}

.profile__photo {
    width: 1.2rem;
    border-radius: 1.2rem;
}

/* MENU CONTAINER*/

.grid__container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0rem .5rem;
}

aside {
    display: none;
}

.categories__container>ul {
    list-style: none;
    display: flex;
    align-items: center;
    font-size: .7rem;
}

.categories__container>ul>li {
    display: inline;
    padding: .1rem .2rem;
    margin: 0rem .1rem;
    background-color: var(--light-green-color);
    border-radius: .15rem;
}

.active-1 {
    background-color: var(--light-yellow-color) !important; 
    color: var(--green-color);
    border-radius: 0.25rem;
    font-weight: 600;
}

.active-2 {
    background-color: var(--yellow-color) !important; 
    color: var(--light-green-color);
    border-radius: 0.25rem;
}

/* RECOMMENDED VIDEOS CONTAINER */

.recommended__videos__container {
    display: grid;
    grid-template-columns: 1fr;
    padding: .8rem .1rem;
    column-gap: 1rem;
}

.recommended__videos__container div:nth-child(3) {
    display: none;
}

.video__thumbnail {
    width: 100%;
    border-radius: .5rem;
}

.video__title {
    font-size: .8rem;
}

.video__infos {
    display: flex;
    flex-wrap: wrap;
    column-gap: .5rem;
    margin-bottom: 1rem;
}

.video__infos p:nth-child(1) {
    flex-basis: 100%;
}

.channel__name,
.video__data {
    font-size: .65rem;
}

/* RECOMMENDED SHORTS CONTAINER */

.recommended__shorts__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: .4rem;
}

.recommended__shorts>h2 {
    font-size: 1rem;
    margin-bottom: .4rem;
}

.shorts__thumbnail {
    width: 100%;
    border-radius: .5rem;
}

.shorts__title {
    font-size: .8rem;
    margin-bottom: .2rem;
}

.shorts__data {
    font-size: .6rem;
    margin-bottom: .8rem;
}

/* LAST NEWS CONTAINER */

.last_news__container {
    display: grid;
    grid-template-columns: 1fr;
    padding: .5rem .1rem;
    column-gap: 1rem;
}

.last__news>h2 {
    font-size: 1rem;
}

/* FOOTER */

footer {
    text-align: center;
    padding: 1rem;
}

html,
body {
    overflow-x: hidden;
}

/* MEDIA QUERIES*/

@media (min-width: 768px) and (max-width: 1023px) {

    /* NAVBAR CONTAINER*/

    .nav__container {
        justify-content: space-between;
        padding: 1.5rem;
        margin-bottom: 0.45rem;
    }

    .logo {
        font-size: 1.5rem;
    }

    .youtube__icon {
        width: 2.25rem;
        height: 1.5rem;
        border-radius: 0.375rem;
    }

    .youtube__icon::before {
        border-left: 0.75rem solid var(--yellow-color);
        border-top: 0.46875rem solid transparent;
        border-bottom: 0.46875rem solid transparent;
    }

    .search__container {
        justify-content: center;
        align-items: center;
        gap: 0.1rem;
        margin-right: 3rem;
    }

    .search {
        display: flex;
        width: 20rem;
        height: 1.5rem;
        border: 1.5px solid var(--light-green-color);
        border-radius: 3rem;
        background-color: var(--green-color);
        line-height: 1.5rem;

    }

    .search::placeholder {
        color: var(--light-green-color);
        padding-left: 0.75rem;
        font-size: 0.75rem;
    }

    .search__button {
        width: 1.8rem;
        height: 1.8rem;
    }

    .notifications__button {
        width: 1.8rem;
        height: 1.8rem;
    }

    .profile__photo {
        width: 1.8rem;
        border-radius: 1.8rem;
    }

    /* MENU CONTAINER*/

    aside {
        display: block;
    }

    .grid__container {
        grid-template-columns: 1fr 11fr;
        padding: 0rem 0.75rem;
        gap: 1rem;
    }

    .menu__container {
        display: flex;
        flex-direction: column;
    }

    .general__items,
    .you__items {
        font-size: .75rem;
    }

    .general__items>ul>li,
    .you__items>ul>li {
        padding: .4rem .4rem;
    }

    .general__items>ul,
    .you__items>ul,
    .categories__container>ul {
        list-style: none;
    }

    /* CATEGORIES CONTAINER*/

    .categories__container>ul {
        font-size: 1.05rem;
    }

    .categories__container>ul>li {
        padding: 0.15rem 0.3rem;
        margin: 0rem 0.15rem;
        border-radius: 0.225rem;
    }

    /* RECOMMENDED VIDEOS CONTAINER */

    .recommended__videos__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: .8rem .1rem;
        column-gap: 1rem;
        margin: 1rem 0rem;
    }

    /* RECOMMENDED SHORTS CONTAINER */

    .recommended__shorts__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: .6rem;
    }

    .recommended__shorts__container div:nth-child(3) {
        display: none;
    }

    .recommended__shorts>h2 {
        font-size: 1rem;
        margin-bottom: .4rem;
    }

    .shorts__title {
        font-size: .8rem;
    }

    .shorts__data {
        font-size: .6rem;
        margin-top: .2rem;
    }

    /* LAST NEWS CONTAINER */

    .last_news__container {
        grid-template-columns: 1fr 1fr;
    }

    .last__news>h2 {
        font-size: 1rem;
    }
}

@media (min-width: 1024px) {

    /* NAV CONTAINER */
    .nav__container {
        justify-content: space-between;
        padding: 1.5rem;
        margin-bottom: 0.45rem;
    }

    /* LOGO */
    .logo {
        font-size: 1.5rem;
    }

    /* YOUTUBE ICON */
    .youtube__icon {
        width: 2.25rem;
        height: 1.5rem;
        border-radius: 0.375rem;
    }

    .youtube__icon::before {
        border-left: 0.75rem solid var(--yellow-color);
        border-top: 0.46875rem solid transparent;
        border-bottom: 0.46875rem solid transparent;
    }

    /* SEARCH */
    .search__container {
        justify-content: center;
        align-items: center;
        gap: 0.1rem;
        margin-right: 3rem;
    }

    .search {
        display: flex;
        width: 35rem;
        height: 2rem;
        border: 1.5px solid var(--light-green-color);
        border-radius: 3rem;
        background-color: var(--green-color);
        line-height: 1.5rem;
    }

    .search::placeholder {
        color: var(--light-green-color);
        padding-left: 0.75rem;
        font-size: 1rem;
    }

    /* BUTTONS */
    .search__button,
    .notifications__button {
        width: 1.8rem;
        height: 1.8rem;
    }

    /* PROFILE PHOTO */
    .profile__photo {
        width: 1.8rem;
        border-radius: 1.8rem;
    }

    /* MENU CONTAINER */
    aside {
        display: block;
    }

    .grid__container {
        grid-template-columns: 2fr 12fr;
        padding: 0rem 0.75rem;
        gap: 1rem;
    }

    .menu__container {
        display: flex;
        flex-direction: column;
    }

    .general__items,
    .you__items {
        font-size: 0.85rem;
    }

    .general__items>ul>li,
    .you__items>ul>li {
        padding: .6rem .6rem;
    }

    .general__items>ul,
    .you__items>ul,
    .categories__container>ul {
        list-style: none;
    }

    /* CATEGORIES CONTAINER */
    .categories__container>ul {
        font-size: 1rem;
    }

    .categories__container>ul>li {
        padding: 0.15rem 0.3rem;
        margin: 0rem 0.15rem;
        border-radius: 0.225rem;
    }

    /* RECOMMENDED VIDEOS CONTAINER */
    .recommended__videos__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1FR;
        padding: .8rem .1rem;
        column-gap: 1rem;
        margin: 1rem 0rem;
    }

    .recommended__videos__container div:nth-child(3) {
        display: block;
    }

    .video__title {
        font-size: 1rem;
    }

    .channel__name,
    .video__data {
        font-size: .85rem;
    }

    /* RECOMMENDED SHORTS CONTAINER */
    .recommended__shorts__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: .6rem;
    }

    .recommended__shorts__container div:nth-child(3) {
        display: none;
    }

    .recommended__shorts>h2 {
        font-size: 1.25rem;
        margin-bottom: .4rem;
    }

    .shorts__title {
        font-size: 1rem;
    }

    .shorts__data {
        font-size: 0.85rem;
        margin-top: .3rem;
    }

    /* LAST NEWS CONTAINER */
    .last_news__container {
        grid-template-columns: 1fr 1fr;
    }

    .last__news>h2 {
        font-size: 1.25rem;
    }


}